body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #578f3f, #0e6979);
  }
  
  .container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    color: white;
  }
  
  .profile-card {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #5db637, #02849b);
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
  }
  
  .profile-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .profile-card div {
    max-width: 700px;
  }
  
  .profile-card p {
    margin: 5px 0;
    color: white;
  }
  
  .contact-info {
    margin-top: 10px;
    font-weight: bold;
  }
  
  h2 {
    color: white;
  }
  
  .button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #3d7923;
    color: white;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
  }
  
  .button:hover {
    background: linear-gradient(to right, #5db637, #02849b);
  }
  




